<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script  src="https://www.gstatic.com/charts/loader.js"></script>
	<div th:replace ="fragments::head_fragment"></div>
	<!-- Nav Bar -->
	
	<div th:replace ="fragments::menu"></div>
	
	<!-- Nav Bar End -->
	<body>
	<table  class="table table-striped">
		<tr>
				<th>No.</th>
				<th>Month</th>
				<th>Year</th>
				<th>Total Price</th>
								
		</tr>
			<th:block th:each="monthly, iterator: ${monthly}">
				<tr>
					<td th:text="${iterator.index+1}"></td>
					<td th:text = "${monthly.month}"></td>
					<td th:text = "${monthly.year}"></td>
					<td th:text ="${monthly.totalPrice}"></td>
									
									
				</tr>				
			</th:block>
	</table>
	
	<div align="center" style="width: 1000px;">
        <h2>Spring Boot Google Charts Example</h2>
        <div id="chart_div"></div>
        <div id="piechart" style="width: 800px; height: 500px;"></div>
    </div>
	
		<script th:inline="javascript">
		 var real_data = /*[[${mapMonthly}]]*/'noValue';
        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            google.charts.setOnLoadCallback(drawPieChart);
        });
        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Views');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Blog stats',
                hAxis : {
                    title : 'Years',
                },
                vAxis : {
                    title : 'View Count'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('chart_div'));
            chart.draw(data, options);
        }
        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Views');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Blog stats'
            };
            var chart = new google.visualization.PieChart(document
                    .getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
	</body>
	
</html>